<?xml version="1.0" ?>
<robot name="z_robot_turning">

  <material name="orange"><color rgba="1.0 0.4 0.0 1.0"/></material>
  <material name="black"><color rgba="0.1 0.1 0.1 1.0"/></material>
  <material name="grey"><color rgba="0.5 0.5 0.5 1.0"/></material>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <geometry><box size="0.6 0.4 0.1"/></geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <geometry><box size="0.6 0.4 0.1"/></geometry>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.2" iyz="0" izz="0.2"/>
    </inertial>
  </link>

  <joint name="joint_1" type="fixed">
    <parent link="base_link"/>
    <child link="middle_link"/>
    <origin xyz="0.25 0 0.05" rpy="0 -2.356 0"/>
  </joint>

  <link name="middle_link">
    <visual>
      <origin xyz="0.35 0 0" rpy="0 0 0"/>
      <geometry><box size="0.7 0.4 0.1"/></geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <origin xyz="0.35 0 0" rpy="0 0 0"/>
      <geometry><box size="0.7 0.4 0.1"/></geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="joint_2" type="fixed">
    <parent link="middle_link"/>
    <child link="top_link"/>
    <origin xyz="0.7 0 0" rpy="0 2.356 0"/>
  </joint>

  <link name="top_link">
    <visual>
      <origin xyz="0.25 0 0" rpy="0 0 0"/>
      <geometry><box size="0.6 0.4 0.1"/></geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <origin xyz="0.25 0 0" rpy="0 0 0"/>
      <geometry><box size="0.6 0.4 0.1"/></geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>


  <link name="fl_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry><cylinder length="0.1" radius="0.035"/></geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry><cylinder length="0.1" radius="0.035"/></geometry>
      <surface>
        <friction>
          <ode><mu>1.0</mu><mu2>1.0</mu2></ode>
        </friction>
      </surface>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="fl_joint" type="continuous">
    <parent link="base_link"/>
    <child link="fl_wheel"/>
    <origin xyz="0.2 0.225 -0.065" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="fr_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry><cylinder length="0.1" radius="0.035"/></geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry><cylinder length="0.1" radius="0.035"/></geometry>
      <surface>
        <friction>
          <ode><mu>1.0</mu><mu2>1.0</mu2></ode>
        </friction>
      </surface>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="fr_joint" type="continuous">
    <parent link="base_link"/>
    <child link="fr_wheel"/>
    <origin xyz="0.2 -0.225 -0.065" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="rl_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry><cylinder length="0.1" radius="0.035"/></geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry><cylinder length="0.1" radius="0.035"/></geometry>
      <surface>
        <friction>
            <ode><mu>1.0</mu><mu2>1.0</mu2></ode> 
        </friction>
      </surface>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="rl_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rl_wheel"/>
    <origin xyz="-0.2 0.225 -0.065" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="rr_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry><cylinder length="0.1" radius="0.035"/></geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry><cylinder length="0.1" radius="0.035"/></geometry>
      <surface>
        <friction>
            <ode><mu>1.0</mu><mu2>1.0</mu2></ode>
        </friction>
      </surface>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="rr_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rr_wheel"/>
    <origin xyz="-0.2 -0.225 -0.065" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      
      <left_joint>fl_joint</left_joint>
      <left_joint>rl_joint</left_joint>

      <right_joint>fr_joint</right_joint>
      <right_joint>rr_joint</right_joint>
      
      <wheel_separation>0.45</wheel_separation>
      <wheel_radius>0.1</wheel_radius>

      <max_linear_acceleration>5.0</max_linear_acceleration>
      <max_angular_acceleration>10.0</max_angular_acceleration>
      <max_velocity>5.0</max_velocity>

      <topic>cmd_vel</topic>
      <odom_topic>odom</odom_topic>
      <frame_id>odom</frame_id>
      <child_frame_id>base_footprint</child_frame_id>
      <odom_publish_frequency>30</odom_publish_frequency>
    </plugin>
  </gazebo>

</robot>